extends ./layout.jade

block body
  section.background-image(
      id="home"
      style = "background-image: url(#{homepage.fragments['homepage.leadImage'].value.main.url})"
    )
    .container.hero
      h1= homepage.getText('homepage.catchPhrase')

    .caption
      .container
        span &#187;
        span!=homepage.getHtml('homepage.leadImageCaption')

  section
    .container
      h2= homepage.getText('homepage.secondaryCatchPhrase')

      .row.homepage-lists
        .panel.panel-default
          .panel-heading You will experience:
          .panel-body
            ul
              each val in homepage.fragments['homepage.experienceList'].value
                li=val.text
        .panel.panel-default
          .panel-heading You can:
          .panel-body
            ul
              each val in benefits
                li.custom-popover
                  =val.title.value[0].text
                  // So these should not be displayed all the time, should only show on hover as a tooltip type thing.
                  ul.popover-content
                    each detail in val.details.value
                      li=detail.text

  section.alternate
    .container
      .row
        blockquote
          p
            span.start &#147;
            =testimonial.getText('testimonial.quote')
            span.end &#148;
          footer
            =testimonial.getText('testimonial.author')
            |,&nbsp;
            em=testimonial.getText('testimonial.credentials')


  section(id='groups')
    .container
      h2=pages.groups.getText('page.title')
      !=pages.groups.getHtml('page.content')

      .row
        .col-sm-6(id='groups/co-gender')
          h3=pages['groups/co-gender'].getText('page.title')
          !=pages['groups/co-gender'].getHtml('page.content')
        .col-sm-6(id='groups/women')
          h3=pages['groups/women'].getText('page.title')
          !=pages['groups/women'].getHtml('page.content')

  section.alternate(id='individual')
    .container
      h2=pages.individual.getText('page.title')
      !=pages.individual.getHtml('page.content')

  section(id='current-workshops')
    .container
      h2 Workshops
      .workshops
        each workshop in currentWorkshops
          .workshop
            h4
              =workshop.getText('title')
            small=workshop.getText('sub')
            p
              !=workshop.getHtml('content')


  section.alternate(id='past-workshops')
    .container
      h2 Workshop History
      .workshops
        each workshop in pastWorkshops
          .workshop
            h4
              =workshop.getText('title')
            small=workshop.getText('sub')
            p
              !=workshop.getHtml('content')

  section(id='about')
    .container
      h2=pages.about.getText('page.title')
      !=pages.about.getHtml('page.content')

  section.alternate(id='testimonials')
    .container
      h2 Testimonials
      .testimonial-con.row
        for testimonial in testimonials
          blockquote
            p
              span.start &#147;
              =testimonial.getText('testimonial.quote')
              span.end &#148;
            footer
              =testimonial.getText('testimonial.author')
              |,&nbsp;
              em=testimonial.getText('testimonial.credentials')


  section.footer
    .container
      p &#169; Carol Kahn 2015

