extends ./layout.jade

block body
  section.background-image(
      id="home"
      style = "background-image: url(#{homepage.fragments['homepage.leadImage'].value.main.url})"
    )
    .container.hero
      .row
        .col.col-sm-6
          h1= homepage.getText('homepage.catchPhrase')

    //- .caption
    //-   .container
    //-     span &#187;
    //-     span!=homepage.getHtml('homepage.leadImageCaption')

  section
    .container
      h2= homepage.getText('homepage.secondaryCatchPhrase')

      .row.homepage-lists
        .panel.panel-purple
          .panel-heading You will experience:
          .panel-body
            ul
              each val in homepage.fragments['homepage.experienceList'].value
                li=val.text
        .panel.panel-purple
          .panel-heading You can:
          .panel-body
            ul
              each val in benefits
                li.custom-popover
                  =val.title.value[0].text
                  // So these should not be displayed all the time, should only show on hover as a tooltip type thing.
                  ul.popover-content
                    each detail in val.details.value
                      li=detail.text

  section.alternate.image-bg
    .container
      .row
        blockquote
          p
            span.start &#147;
            =testimonial.getText('testimonial.quote')
            span.end &#148;
          footer
            =testimonial.getText('testimonial.author')
            |,&nbsp;
            em=testimonial.getText('testimonial.credentials')

  section(id='about')
    .container
      img.headshot.img-responsive(src=pages.about.fragments['page.leadPhoto'].value.main.url)
      h2=pages.about.getText('page.title')
      !=pages.about.getHtml('page.content')

  section.alternate.image-bg.sun(id='testimonials')
    .container
      h2 Testimonials
      .testimonial-con.row
        for testimonial, index in testimonials
          blockquote(
            class=index===0 ? 'active' : ''
          )
            p
              span.start &#147;
              =testimonial.getText('testimonial.quote')
              span.end &#148;
            footer
              =testimonial.getText('testimonial.author')
              if testimonial.getText('testimonial.credentials')
                |,&nbsp;
                em=testimonial.getText('testimonial.credentials')

        blockquote.spacer
          p
            span.start &#147;
            | Carol is committed to doing her own deep work, which makes it safer for me to do mine. She respects and stays present with my “stealthy strategies” to avoid vulnerability while I gain insight into my unconscious defenses. I appreciate her direct and honest approach.
            span.end &#148;
          footer Deb Hoffmann, Zen Priest, Ayurvedic Practitioner, Yoga Instructor

  section(id='individual')
    .container
      h2=pages.individual.getText('page.title')
      !=pages.individual.getHtml('page.content')


  section.alternate(id='groups')
    .container
      h2=pages.groups.getText('page.title')
      !=pages.groups.getHtml('page.content')

      .row
        .col-sm-6(id='groups/co-gender')
          h3=pages['groups/co-gender'].getText('page.title')
          !=pages['groups/co-gender'].getHtml('page.content')
        .col-sm-6(id='groups/women')
          h3=pages['groups/women'].getText('page.title')
          !=pages['groups/women'].getHtml('page.content')

  section.image-bg(
    id='current-workshops'
    style = "background-image: url(#{pastWorkshops.coverPhoto})"
  )
    .container
      h2 Workshops
      .workshops
        each workshop in currentWorkshops.workshops
          .panel.panel-purple
            .panel-heading
              =workshop.getText('title')
              small=workshop.getText('sub')
            .panel-body
              p!=workshop.getHtml('content')

  section
    .container
      h2.more-info.inactive
        span.glyphicon.glyphicon-triangle-bottom
        span.content Workshop History
      .toggled
        .workshops
          each workshop in pastWorkshops.workshops
            .panel.panel-purple
              .panel-heading
                =workshop.getText('title')
                small=workshop.getText('sub')
              .panel-body
                p!=workshop.getHtml('content')