extends ./layout.jade

block body
  section
    .background-image(
      style = "background-image: url(#{homepage.fragments['homepage.leadImage'].value.main.url})"
    )
    .container.hero
      h1= homepage.getText('homepage.catchPhrase')

      .caption!= homepage.getHtml('homepage.leadImageCaption')

  section
    .container
      h2= homepage.getText('homepage.secondaryCatchPhrase')

      .homepage-lists
        .well
          .intro You will experience:
            ul
              each val in homepage.fragments['homepage.experienceList'].value
                li=val.text
        .well
          .intro You can:
            ul
              each val in benefits
                li.custom-popover
                  =val.title.value[0].text
                  // So these should not be displayed all the time, should only show on hover as a tooltip type thing.
                  ul.popover-content
                    each detail in val.details.value
                      li=detail.text

  section.alternate
    .container
      blockquote
        p=testimonial.getText('testimonial.quote')
        footer
          =testimonial.getText('testimonial.author')
          |,&nbsp;
          em=testimonial.getText('testimonial.credentials')



  each page, index in pages
    section(
      class=(index % 2===0) ? '' : 'alternate'
    )
      .container
        h2=page.getText('page.title')
        !=page.getHtml('page.content')

