extends ./layout.jade

block body
  section
    .background-image(
      style = "background-image: url(#{homepage.fragments['homepage.leadImage'].value.main.url})"
    )
    .container.hero
      h1= homepage.getText('homepage.catchPhrase')

    .caption
      .container!= homepage.getHtml('homepage.leadImageCaption')

  section
    .container
      h2= homepage.getText('homepage.secondaryCatchPhrase')

      .row.homepage-lists
        .well
          .intro You will experience:
            ul
              each val in homepage.fragments['homepage.experienceList'].value
                li=val.text
        .well
          .intro You can:
            ul
              each val in benefits
                li.custom-popover
                  =val.title.value[0].text
                  // So these should not be displayed all the time, should only show on hover as a tooltip type thing.
                  ul.popover-content
                    each detail in val.details.value
                      li=detail.text

  section.alternate
    .container
      blockquote
        p=testimonial.getText('testimonial.quote')
        footer
          =testimonial.getText('testimonial.author')
          |,&nbsp;
          em=testimonial.getText('testimonial.credentials')

  section(id='groups/women')
    .container
      h2=pages['groups/women'].getText('page.title')
      !=pages['groups/women'].getHtml('page.content')

  section.alternate(id='groups/co-gender')
    .container
      h2=pages['groups/co-gender'].getText('page.title')
      !=pages['groups/co-gender'].getHtml('page.content')

  section(id='individual')
    .container
      h2=pages.individual.getText('page.title')
      !=pages.individual.getHtml('page.content')

  section.alternate(id='groups')
    .container
      h2=pages.groups.getText('page.title')
      !=pages.groups.getHtml('page.content')

  section(id='about')
    .container
      h2=pages.about.getText('page.title')
      !=pages.about.getHtml('page.content')

  section.footer
    .container
      p &#169; Carol Kahn 2015

